/* 標籤名稱選擇器 */
body{background-color:#EADDA2}

/* id 選擇器 */
#content-with-border{border:2px dashed brown}
#table-headline{font-size:20px;text-decoration:underline}

/* class 選擇器 */
.table-cell{
    color:#FFFFFF;
    font-weight:bold;
    text-align:center
}
.title{
    margin-top:10px;
    margin-bottom:10px;
    font-weight:bold;
    font-size:20px
}
.content{
    margin-top:10px;
    margin-bottom:10px;
    padding:10px;
    }