.gallery{
    width:100%;
    background-color: #223344;
    display:flex;
    align-items: center;
    justify-content: center;
    height:150px;
}

.slogan{
    font-size: 40px;
    color:white;
}

.block{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top:40px;
    height:200px;
}

.system{
    text-align:center;
}

.headline{
    font-size:30px;
    margin-bottom:20px;
}

.text{
    font-size:24px;
}

.block_2{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top:40px;
}

.system{
    text-align:center;
}